RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.sckoolchess\.com$ [NC]
RewriteRule ^(.*)$ https://sckoolchess.com/$1 [L,R=301]

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
